[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
environs = "*"
httpx = "*"
authlib = "*"
orjson = "*"
pandas = "*"

[dev-packages]
mypy = "*"
black = "*"
pylama = "*"

[requires]
python_version = "3.10"
